{% load static %}
<!doctype html>
<head>
    <meta lang="ru">
    <title>Теория</title>
    <meta charset="utf-8">
     <link href="{% static 'css/th2.css' %}" rel="stylesheet">
</head>
<body bgcolor="#5691ef">
	<table class="first" cellspacing="0"  width="100%">
		<td id="but2"  width="20%" bgcolor="#949494" >
			<a id="con" href="{% url 'transformators:index' %}">
				<table align="center">
					<td><p> <font size="5">Назад</font></p></td>
				</table>
			</a>
		</td>
		<td   width="60%" align="center" bgcolor="#949494">
			<h1 style="color:#7fffd4">Устройство и рабочий процесс трансформатора</h1>
		</td>
		<td width="20%" bgcolor="#949494">
		</td>
	</table>
	 <table height="20px"></table>
	<table class="first" cellspacing="0"  width="90%" align="center">
		<tr>
			<td align="center">
				<h3>Данный электронный конспект предназначен для освоения теоретического и практического материала по теме<br> "Устройство и рабочий процесс трансформатора".
				</h3>
			</td>
		</tr>
		<tr>
			<td align="left">
				<p>Разработчик: Уласевич Ю.А.</p>
				<p>Руководитель проекта: Шавейко А.И.</p>
				<p>Материал предоставила: Тарасова Е.И.</p>
			</td>
		</tr>
	</table>
</body>